:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* Use Roboto and Raleway directly, not variables */
body {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}
header address {
  font-style: normal;
  color: var(--slate);
}

header address :focus {

  color: var(--ocean);
}

header address :hover {

  color: var(--ocean);
}

header li a {
  color: var(--navy-blue);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

main {
  font-family: "Roboto", sans-serif;
}

a #span {
  color: var(--navy-blue); 
  text-decoration: none;
}
a #web {
  color: var(--iris);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase
}

button {
  background: var(--iris);
}

#sec1 {
  background-color: var(--navy-blue);
}

#sec2 {
  background-color: var(--cloud);
}

#sec3 {
  background-color: var(--dairy);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: left;
}
