 :root {
   --iris: #4d5ae5;
   --ocean: #404bbf;
   --navy-blue: #2e2f42;
   --green: #31d0aa;
   --slate: #434455;
   --light-slate: #8e8f99;
   --cornflower: #e7e9fc;
   --cloud: #f4f4fd;
   --navy-blue-modal: rgba(46, 47, 66, 0.4);
   --grey: rgba(46, 47, 66, 0.7);
   --white: #fff;
   --dairy: #fcfcfc;
   --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
 }

body {
  color: var(--slate)
  font-family: var(--font-family);
  background-color: var(--white);

}

header li a {
color: var(--navy-blue);
  background-color: var(--white);
  font-family: var(--font-family);
  font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--navy-blue);
}

main {
font-family: var(--font-family);
}

nav {
  margin: 10px 0;
}

 a #span {
  color: var(--navy-blue); 
  text-decoration: none;
}
 a #web {
  color: var(--iris);
  text-decoration: none;
  

}


button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
}

#sec1 {
background-color: var(--navy-blue);
}

#sec2 {
  background-color: var(--cloud);
}

#sec3 {
  background-color: var(--dairy);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}