:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}


body {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}
header address  {
  font-style: normal;
  color: #434455;

}
header address a {
  color: #434455;
}

header address ul li :focus {

  color: #404bbf;
}

header address ul li :hover {

  color: #404bbf;
}

header nav ul li :focus {

  color: #404bbf;
}

header nav ul li :hover {

  color: #404bbf;
}
header nav a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

header li a {
  color: var(--navy-blue);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

main {
  font-family: "Roboto", sans-serif;
}

a .span {
  color: #2e2f42;
  text-decoration: none;
}


button {
  background: var(--iris);
  
}

.sec1 {
  background-color: var(--navy-blue);
}


.sec1 .sec1-h1 {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}


.sec2 {
  background-color: var(--cloud);
}

.sec3 {
  background-color: var(--dairy);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: left;
}


